[Desktop Entry]
Name=Kindypanel
GenericName=Kindypanel
Comment=Create a local theme with an elementary icon
Categories=Utility;
Exec=com.github.Lafydev.Kindypanel
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Icon;Elementary;Panel;
